

#player-controls-volume {
    display: flex;
    flex-direction: row;
    
    min-width: 30vh;
}

#player-song-info {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    overflow: hidden;
}


#player-volume-slider {
    width: 100%;
    display: flex;

    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#player-duration-label {
    display: flex;
    margin-left: 1em;
}

.player-control-icon-hl {
    background-color: #111;
}