#changepw-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#changepw-form-container {
    min-width: 120px;
    display: flex;
    flex-direction: row;
}


.changepw-form-field {
    text-align: center;
}

::placeholder {
    text-align: center;
}
