#changepw-container {

    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#changepw-form-container {
    min-width: 120px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

#changepw-logo {
    margin-bottom: 5vh;
}

#changepw-textfield-current-pass, 
#changepw-textfield-next-pass,
#changepw-textfield-repeat-pass {
    text-align: center;
}

::placeholder {
    text-align: center;
}
