
<!doctype html>
<html>
<body>
    
        <form action="/signup" method="POST">
            <label for="">username</label>
            <input type="text" name = "name">
            <label for="">password</label>
            <input type="text" name = "password">

            <button type="submit">Loging</button>
        </form>


</body>
</html>