.result-item-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    border-width: 1px;
    border-color: rgba(63, 81, 181, 0.3);
    border-style: solid;
}

.result-item-card:hover {
    background-color: rgba(63, 81, 181, 0.05);
}

.result-item-details {
    display: flex;
    flex-direction: column;
    flex: 4 0 0;
}

.result-item-cover {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 0;
}

.result-item-cover > img {
    width: 100%;
    max-width: 180px; /* arbitrary number, works well with youtube thumbnails*/
}

.result-item-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.result-item-play-icon {
    height: 1.5em !important;
    width: 1.5em !important;
}


@media only screen and (max-width : 650px) {
    .result-item-cover {
        display: none;
    }
}