#signup-container {

    margin-top: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-form-container {
    min-width: 120px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

#signup-logo {
    margin-bottom: 5vh;
}

#signup-textfield-username, #signup-textfield-password, #signup-textfield-email {
    text-align: center;
}

::placeholder {
    text-align: center;
}
