
#img{
    width:50%;
    
}

.box{
    color:black;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;   
    background-color: rgba(124, 217, 230, 0.404);
}

#head-title{
    font-size:28px;
    
}

#middle-title{
    font-size:25px;
}

#provider{
   display: flex;
    justify-content: center;
    margin-top: 25px;    
}

#provider li {
    margin-right: 15px;
}

#provider li:nth-last-child(1) {
    margin-right: 0px;
}

