#login-container {

    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-form-container {
    min-width: 120px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

#login-logo {
    margin-bottom: 5vh;
}

#login-textfield-password, #login-textfield-email {
    text-align: center;
}

::placeholder {
    text-align: center;
}
