nav {
  color: white;
  background-color: #2196F3;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  padding: 10px;
}
